body{
    font-family: Arial, Helvetica, sans-serif;
}

td {
    padding:5px 25px;
}
a {
    color:white;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

header{
    color:white; 
    background-color:#4D7E92; 
    margin:-8px; 
    padding:10px;
}

.title{
    font-size: 60px;
    text-align: center;
}

.credit{
    text-align: center;
    font-style: italic;
    font-size: 10pt;
}